html,
body {
  font-family: "opensans-bold", "PT Sans", "Trebuchet MS", Tahoma, sans-serif;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
}

.header {
  background-color: #222;
  color: #999;
  font-size: 14px;
  line-height: 1;
  padding-left: 5%;
  height: 43px;
}

.content {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7.5%;
  margin-bottom: 7.5%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content h1 {
  text-align: center;
}

.content hr {
  margin-top: 25px;
}

.return {
  text-align: left;
  font-weight: 300;
  padding-bottom: 20px;
}

.return a {
  color: gray;
  text-decoration-line: none;
}

.return a:hover {
  color: black;
  text-decoration-line: underline;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.footer {
  margin-top: auto;
  background-color: #222;
  color: #fffeee;
  font-size: 13px;
  text-align: center;
  padding-top: 20px;
}

.footer img {
  opacity: 0.6;
  width: 8.3%;
  max-height: 100px;
}
